In [1]:
from selenium import webdriver 
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime
from itertools import compress
import time
import os

In [3]:
options = {'driver':r'C:\Users\likith\Desktop\QGIS\project\chromedriver.exe',
           'output':'ALL_Data',
           'sdate':'01-01-2019'
          }

In [6]:
global url,option,browser
url = 'https://app.cpcbccr.com/AQI_India/#' 
option=webdriver.ChromeOptions()
browser = webdriver.Chrome(executable_path="{}".format(options['driver']), chrome_options=option)
browser.get(url)
time.sleep(5)

<ipython-input-6-029efec1e6d7>:4: DeprecationWarning: use options instead of chrome_options
  browser = webdriver.Chrome(executable_path="{}".format(options['driver']), chrome_options=option)

In [7]:
def get_states():
    st = browser.page_source
    soup = BeautifulSoup(st, 'html.parser')
    table = soup.find("select",{"id":"states"})
    states  = []
    for i in table.find_all("option"):
        states.append(i.text)
    return states[1:]

In [8]:
def get_cities(states,state):
    path = '//*[@id="states"]/option['+str(states.index(state)+2)+']'
    browser.find_element_by_xpath(path).click()
    time.sleep(5)
    st = browser.page_source
    soup = BeautifulSoup(st, 'html.parser')
    table2 = soup.find("select",{"id":"cities"})
    cities  = []
    for i in table2.find_all("option"):
        cities.append(i.text)
    return cities[1:]

In [9]:
def get_stations(cities,city):
    path = '//*[@id="cities"]/option['+str(cities.index(city)+2)+']'
    browser.find_element_by_xpath(path).click()
    time.sleep(5)
    st = browser.page_source
    soup = BeautifulSoup(st, 'html.parser')
    table2 = soup.find("select",{"id":"stations"})
    stations  = []
    for i in table2.find_all("option"):
        stations.append(i.text)
    return stations[1:]

In [28]:
def extract_data(stations,date):
    date = date
    stations=stations
    over_data = []
    path = '//*[@id="time"]'
    browser.find_element_by_xpath(path).click()
    browser.find_element_by_xpath(path).clear()
    time.sleep(0.5)
    browser.find_element_by_xpath(path).send_keys('0:00')
    time.sleep(0.5)
    browser.find_element_by_xpath('/html/body').click()
    path = '//*[@id="date"]/input'
    browser.find_element_by_xpath(path).click()
    browser.find_element_by_xpath(path).clear()
    time.sleep(2)
    browser.find_element_by_xpath(path).send_keys(date)
    time.sleep(2)
    browser.find_element_by_xpath('/html/body').click()
    for i in stations:
        time.sleep(3)
        data =[]
        s = [i]
        path = '//*[@id="stations"]/option['+str(stations.index(i)+2)+']'
        browser.find_element_by_xpath(path).click()
        time.sleep(2)
        st = browser.page_source
        soup = BeautifulSoup(st, 'html.parser')
        tab =soup.find_all('td',{"class":"element-name"})
        parameters  = []
        for i in tab:
            parameters.append(i.text)
        req = ['PM2.5','PM10']
        #req = ['PM2.5']

        tab =soup.find_all('div',{"aria-label":"A tabular representation of the data in the chart."})
        try:
            count = 0
            date = []
            pm = []
            x =tab[parameters.index(req[0])].find_all('td')
            y =tab[parameters.index(req[1])].find_all('td')
            for j in x:
                if count%2 == 1:
                    pm.append(j.text)
                else:
                    date.append(j.text)
                count = count+1
            data.append(list(s))
            data.append(list(pm))
            data.append(list(date))
            count = 0
            date = []
            pm = []
            for j in y:
                if count%2 == 1:
                    pm.append(j.text)
                else:
                    date.append(j.text)
                count = count+1
            data.append(list(pm))
            data.append(list(date))
        except:
            pass
        if len(data) >0:
            over_data.append(data)
    return over_data

In [ ]:
states = get_states()
for i in states:
    cities = get_cities(states,i)
    for j in cities:
        stations = get_stations(cities,j)      
        for k in stations:

In [12]:
cities = []
states = get_states()
print(states)
inp = input('Enter the state name here : ')
if inp != 'All':
    cities = get_cities(states,inp)
else:
    for i in states:
        print(get_cities(states,i))

['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Meghalaya ', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'West Bengal']
Enter the state name here : All
['Amaravati', 'Rajamahendravaram', 'Tirupati', 'Visakhapatnam']
['Naharlagun']
['Guwahati']
['Bettiah', 'Bihar Sharif', 'Darbhanga', 'Gaya', 'Hajipur', 'Motihari', 'Muzaffarpur', 'Patna']
['Chandigarh']
['Bilaspur']
['Delhi']
['Ahmedabad', 'Ankleshwar', 'Gandhinagar', 'Nandesari', 'Vapi', 'Vatva']
['Ambala ', 'Bahadurgarh ', 'Ballabgarh', 'Bhiwani', 'Charkhi Dadri', 'Dharuhera', 'Faridabad', 'Fatehabad ', 'Gurugram', 'Hisar', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra ', 'Mandikhera', 'Manesar', 'Narnaul', 'Palwal ', 'Panchkula', 'Panipat', 'Rohtak', 'Sirsa', 'Sonipat', 'Yamunanagar']
['Srinagar']
['Jorapokhar']
['Bagalkot', 'Bengaluru', 'Bidar', 'Chamarajanagar', 'Chikkaballapur', 'Chikkamagaluru', 'Davanagere', 'Gadag', 'Hassan', 'Hubballi', 'Kalaburagi', 'Kolar', 'Koppal', 'Madikeri', 'Mangalore', 'Mysuru', 'Raichur', 'Ramanagara', 'Shivamogga', 'Udupi', 'Vijayapura', 'Yadgir']
['Eloor', 'Ernakulam', 'Kannur', 'Kochi', 'Kollam', 'Kozhikode', 'Thiruvananthapuram', 'Thrissur']
['Bhopal', 'Damoh', 'Dewas', 'Gwalior', 'Indore', 'Jabalpur', 'Katni', 'Maihar', 'Mandideep', 'Pithampur', 'Ratlam', 'Sagar', 'Satna', 'Singrauli', 'Ujjain']
['Aurangabad', 'Chandrapur', 'Kalyan', 'Mumbai', 'Nagpur', 'Nashik', 'Navi Mumbai', 'Pune', 'Solapur', 'Thane']
['Shillong']
['Aizawl']
['Kohima']
['Brajrajnagar', 'Talcher']
['Puducherry']
['Amritsar', 'Bathinda ', 'Jalandhar', 'Khanna', 'Ludhiana', 'Mandi Gobindgarh', 'Patiala', 'Rupnagar']
['Ajmer', 'Alwar', 'Bhiwadi', 'Jaipur', 'Jodhpur', 'Kota', 'Pali', 'Udaipur']
['Chennai', 'Coimbatore', 'Gummidipoondi', 'Thoothukudi']
['Hyderabad']
['Agartala']
['Agra', 'Baghpat', 'Bulandshahr', 'Firozabad', 'Ghaziabad', 'Gorakhpur', 'Greater Noida', 'Hapur', 'Kanpur', 'Lucknow', 'Meerut', 'Moradabad', 'Muzaffarnagar', 'Noida', 'Prayagraj', 'Varanasi', 'Vrindavan']
['Asansol', 'Durgapur', 'Haldia', 'Howrah', 'Kolkata', 'Siliguri']

In [10]:
print(cities)
stations = []
inp = input('Enter the city name here :   ')
stations = get_stations(cities,inp)

['Bagalkot', 'Bengaluru', 'Bidar', 'Chamarajanagar', 'Chikkaballapur', 'Chikkamagaluru', 'Davanagere', 'Gadag', 'Hassan', 'Hubballi', 'Kalaburagi', 'Kolar', 'Koppal', 'Madikeri', 'Mangalore', 'Mysuru', 'Raichur', 'Ramanagara', 'Shivamogga', 'Udupi', 'Vijayapura', 'Yadgir']
Enter the city name here :   Bengaluru

In [11]:
stations

['BTM Layout, Bengaluru - CPCB',
 'BWSSB Kadabesanahalli, Bengaluru - CPCB',
 'Bapuji Nagar, Bengaluru - KSPCB',
 'City Railway Station, Bengaluru - KSPCB',
 'Hebbal, Bengaluru - KSPCB',
 'Hombegowda Nagar, Bengaluru - KSPCB',
 'Jayanagar 5th Block, Bengaluru - KSPCB',
 'Peenya, Bengaluru - CPCB',
 'Sanegurava Halli, Bengaluru - KSPCB',
 'Silk Board, Bengaluru - KSPCB']

In [21]:
def create_dataframe(over_data):
    stati = []
    p = []
    d = []
    p2 = []
    for i in over_data:
        for j in range(len(i[2])):
            stati.append(i[0][0])
        for k in range(len(i[1])):
            p.append(i[1][k])
            p2.append(i[3][k])
            if i[2][k].split(" ")[-1] == 'AM' and int(i[2][k].split(" ")[-2].split(':')[0]) != 12:
                h=int(i[2][k].split(" ")[-2].split(':')[0])
                d.append(h)
            elif int(i[2][k].split(" ")[-2].split(':')[0]) == 12 and i[2][k].split(" ")[-1] == 'PM':
                h=int(i[2][k].split(" ")[-2].split(':')[0])
                d.append(h)
            else:
                h = int(i[2][k].split(" ")[-2].split(':')[0])
                d.append(h+12)
    return (stati,p,d,p2)

In [13]:
import datetime
d1 = datetime.date(2020, 1, 1)
d2 = datetime.date(2020, 12, 31)
days = [d1 + datetime.timedelta(days=x) for x in range((d2-d1).days + 1)]
req_dates = []
for day in days:
    req_dates.append(day.strftime('%d/%m/%Y'))

In [14]:
req_dates[0]

'01/01/2020'

In [ ]:
import pandas as pd
df = pd.DataFrame(columns = ['station','time','PM2.5'])
states = get_states()
for i in states:
    cities = get_cities(states,i)
    for j in cities:
        stations = get_stations(cities,j)
        for d in req_dates:
            dta = extract_data(stations,d)
            stati,p,d,p2 = create_dataframe(dta)
            for k in range(len(stati)):
                df = df.append({'State':i,'City':j,'station':stati[k] , 'time' : d[k] , 'PM2.5':p[k],'PM10':p2[k],'date' : d},ignore_index=True)

# #if req_dates[0:3].index(i) == 0:
# stati,p,d = create_dataframe(dta)
# for j in range(len(stati)):
#     df = df.append({'station':stati[j] , 'time' : d[j] , 'PM2.5':p[j]},ignore_index=True)
# #         df['station'] = stati
# #         df['PM2.5']=p
# #         df['time'] = d
# #     else:
# #         stati,p,d = create_dataframe(dta)
# #         df['station'].append(stati)
# #         df['PM2.5'].append(p)
# #         df['time'].append(d)

In [37]:
df.tail(100)

,station,time,PM2.5,Cities,PM10,State,date
164,"Tirumala, Tirupati - APPCB",21,48,Tirupati,42,Andhra Pradesh,02/01/2020
165,"Tirumala, Tirupati - APPCB",22,41,Tirupati,36,Andhra Pradesh,02/01/2020
166,"Tirumala, Tirupati - APPCB",23,21,Tirupati,19,Andhra Pradesh,02/01/2020
167,"Tirumala, Tirupati - APPCB",24,15,Tirupati,17,Andhra Pradesh,02/01/2020
168,"Tirumala, Tirupati - APPCB",1,17,Tirupati,16,Andhra Pradesh,03/01/2020
...,...,...,...,...,...,...,...
259,"GVM Corporation, Visakhapatnam - APPCB",20,98,Visakhapatnam,107,Andhra Pradesh,03/01/2020
260,"GVM Corporation, Visakhapatnam - APPCB",21,114,Visakhapatnam,115,Andhra Pradesh,03/01/2020
261,"GVM Corporation, Visakhapatnam - APPCB",22,119,Visakhapatnam,111,Andhra Pradesh,03/01/2020
262,"GVM Corporation, Visakhapatnam - APPCB",23,122,Visakhapatnam,112,Andhra Pradesh,03/01/2020
263,"GVM Corporation, Visakhapatnam - APPCB",24,107,Visakhapatnam,109,Andhra Pradesh,03/01/2020

In [39]:
df = df[df['time'] == 11]

In [40]:
df.head()

                                     station time PM2.5
10              BTM Layout, Bengaluru - CPCB   11    25
34   BWSSB Kadabesanahalli, Bengaluru - CPCB   11    52
58           Bapuji Nagar, Bengaluru - KSPCB   11    83
82                 Hebbal, Bengaluru - KSPCB   11    52
106      Hombegowda Nagar, Bengaluru - KSPCB   11    45

In [41]:
df.dropna().to_csv("19_04_2021_pm2.5.csv")

In [18]:
comp = pd.DataFrame()

In [ ]:
#hebbal 2020
#india 2020
#l1 and l2

In [50]:
dt=pd.read_csv("ep.csv")

In [7]:
import pandas as pd
dt=pd.read_csv('datapm10.csv')

In [10]:
dt.corr()

,time,PM10,AEROSOL,B7,B6,B5,B4,B3,B2,B1
time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM10,NaN,1.000000,-0.152556,-0.060984,-0.343981,-0.284718,-0.286811,-0.218642,-0.199821,-0.183898
AEROSOL,NaN,-0.152556,1.000000,0.259331,0.452084,0.303591,0.636691,0.649595,0.821115,0.844737
B7,NaN,-0.060984,0.259331,1.000000,0.173748,0.166006,0.101541,0.287901,0.203062,0.217089
B6,NaN,-0.343981,0.452084,0.173748,1.000000,0.492464,0.749826,0.657556,0.641968,0.621537
B5,NaN,-0.284718,0.303591,0.166006,0.492464,1.000000,0.726623,0.780674,0.640048,0.618835
B4,NaN,-0.286811,0.636691,0.101541,0.749826,0.726623,1.000000,0.947360,0.923249,0.890666
B3,NaN,-0.218642,0.649595,0.287901,0.657556,0.780674,0.947360,1.000000,0.923598,0.906319
B2,NaN,-0.199821,0.821115,0.203062,0.641968,0.640048,0.923249,0.923598,1.000000,0.994152
B1,NaN,-0.183898,0.844737,0.217089,0.621537,0.618835,0.890666,0.906319,0.994152,1.000000

In [9]:
dt.corr()['PM10']

time            NaN
PM10       1.000000
AEROSOL   -0.152556
B7        -0.060984
B6        -0.343981
B5        -0.284718
B4        -0.286811
B3        -0.218642
B2        -0.199821
B1        -0.183898
Name: PM10, dtype: float64

In [92]:
dt = dt[dt['time'] == 11]

In [93]:
dt.to_csv("24_01_sensor_11_pm25.csv")

In [52]:
dt = dt.dropna()

In [53]:
dt.head(10)

,Unnamed: 0,station,time,PM2.5,AEROSOL,B7,B6,B5,B4,B3,B2,B1
1,34,"Bapuji Nagar, Bengaluru - KSPCB",11,80.0,194,-0.00827,-0.00051,0.01294,0.02412,0.03566,0.08524,0.12199
2,58,"Hebbal, Bengaluru - KSPCB",11,58.0,224,-0.00568,-0.00054,0.01053,0.02416,0.03462,0.08547,0.11893
3,81,"Hombegowda Nagar, Bengaluru - KSPCB",11,47.0,224,-0.00571,-0.00105,0.01186,0.02471,0.03248,0.08102,0.11203
4,104,"Jayanagar 5th Block, Bengaluru - KSPCB",11,48.0,224,-0.00747,-0.00053,0.01095,0.02210,0.03343,0.08008,0.11067
6,151,"Silk Board, Bengaluru - KSPCB",11,51.0,224,-0.00555,0.00054,0.01366,0.02528,0.03645,0.08775,0.12213

In [54]:
dt.corr()['PM2.5']

Unnamed: 0   -0.703622
time               NaN
PM2.5         1.000000
AEROSOL      -0.949163
B7           -0.654833
B6           -0.020700
B5            0.292480
B4            0.080987
B3            0.510534
B2            0.409415
B1            0.644920
Name: PM2.5, dtype: float64

In [32]:
dat = pd.read_csv("01_06_data.csv")

In [41]:
x  = []
for  i in dat['Name']:
    x.append(i.replace(",",""))
exp['station'] = x

,Name,AEROSOL,B7,B6,B5,B4,B3,B2,B1
0,Silk board,224.0,-0.00555,0.00054,0.01366,0.02528,0.03645,0.08775,0.12213
1,"BWSSD, Kadabesnahalli",224.0,-0.01015,-0.00026,0.01451,0.02385,0.03188,0.09522,0.13401
2,BTM layout Bangalore,224.0,-0.00824,0.00085,0.01501,0.03204,0.03955,0.08886,0.12061
3,Jayanagar 5th block,224.0,-0.00747,-0.00053,0.01095,0.02210,0.03343,0.08008,0.11067
4,Hombegowda nagar,224.0,-0.00571,-0.00105,0.01186,0.02471,0.03248,0.08102,0.11203
5,Bapuji nagar bangalore,194.0,-0.00827,-0.00051,0.01294,0.02412,0.03566,0.08524,0.12199
6,City railway station,160.0,-0.01309,-0.00193,0.01053,0.01283,0.02398,0.06583,0.09554
7,Sanegurava halli,194.0,-0.00859,-0.00085,0.01126,0.01942,0.03105,0.07916,0.11276
8,Hebbal,224.0,-0.00568,-0.00054,0.01053,0.02416,0.03462,0.08547,0.11893
9,Peenya,224.0,-0.00970,-0.00126,0.01018,0.02016,0.03197,0.08353,0.11933

In [43]:
df_merge_col = pd.merge(exp, dat, left_on='station', right_on='Name')

In [44]:
df_merge_col.head()

,Unnamed: 0,station,time,PM2.5,Name,AEROSOL,B7,B6,B5,B4,B3,B2,B1
0,58,Hebbal,11,58.0,Hebbal,224.0,-0.00568,-0.00054,0.01053,0.02416,0.03462,0.08547,0.11893